/* Elimina el scroll general de la página */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Fuente general */
body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Contenedor principal */
#cuerpo {
  background-color: #d8dbd9;
  height: 100%;            /* Ocupa toda la ventana */
  display: table;          /* Diseño clásico en columnas */
  width: 100%;
}

/* Lista de contactos (lado izquierdo) */
.sidebar {
  background-color: #a59e98;
  display: table-cell;     /* Se acomoda al lado de .mensajes */
  vertical-align: top;
  width: 250px;            /* Puedes ajustar este valor */
  height: 100%;            /* Ocupa toda la altura disponible */
  overflow-y: auto;        /* Scroll solo vertical si hay muchos contactos */
  overflow-x: hidden;      /* Evita scroll horizontal */
}

/* Buscador dentro de la lista */
.buscador {
  background-color: #4d4d4d;
  padding-left: 5px;
}

/* Estilo del placeholder del input */
.buscador input::placeholder {
  color: #6c757d; /* gris oscuro */
  opacity: 1; 
}

/* Color de fondo de un input específico */
#inputColor {
  background-color: #4d4d4d;
}

/* Cabecera del chat (área superior de mensajes) */
.chat-header {
  background-color: #a59e98;
}

/* Imagen de perfil */
.perfil {
  width: 40px;
  height: 40px;
}

/* Ícono de micrófono */
.mic {
  align-self: center;
  background-color: #a59e98;
}

/* Submenú desplegable */
.dropdown-submenu {
  position: relative;
}

/* Menú desplegable secundario */
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
}

/* Área de mensajes (lado derecho) */
.mensajes {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  width: auto;
  /* Puedes aplicar estilos adicionales aquí si lo deseas */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .offcanvas {
    width: 100vw !important;
  }
}

.globito {
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #ccc;
}

.globito-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.img-circular {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 60%;
}