/* ---------- ESTILOS DEL CHAT ---------- */ 
/* Elimina el scroll general de la página */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Fuente general de INDEX - CHAT */
body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Contenedor principal */
#cuerpo {
  background-color: #d8dbd9;  
}

/* Lista de contactos (lado izquierdo) */
.listaContactosIzquierdo {
  background-color: #a59e98;
}

#contactoScroll{
  height: calc(100% - 100px);
}

/* Buscador dentro de la lista */
#buscador {
  background-color: #4d4d4d;
}

/* Cabecera del chat (área superior de mensajes) */
#chat-header {
  background-color: #a59e98;
}

/* Imagen de perfil */
.perfil, .icono {
  width: 40px;
  height: 40px;
}

/* Ícono de micrófono */
#microfono {
  background-color: #a59e98;
}

/* Menú desplegable secundario --- REVISAR ---*/
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
}

/* chatMensajes */
#chatMensajes{
  height: calc(100% - 170px);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .offcanvas {
    width: 100vw !important;
  }
}

.globito { 
  width: 30px;
  height: 30px;
}

.img-circular {
  width: 200px;
  height: 200px;
}

/* ---------- ESTILOS DEL INDEX ---------- */
#body{
    background-color: #d8dbd9;
}

#olvidarContra:hover{
    color: rgb(0, 0, 255);
}




/* Encabezado personalizado del offcanvas izquierdo (Perfil Usuario) */
.custom-offcanvas-header {
  background-color: #212529; 
  color: white;              
  padding-left: 1rem;        
  padding-right: 1rem;       
  display: flex;             
  align-items: center;       
  justify-content: space-between; 
}

/* Contenedor de la imagen de perfil y botón de edición */
.perfil-foto-container {
  position: relative;    
  display: inline-block; 
}

/* Botón de edición (lápiz) superpuesto a la imagen de perfil */
.editar-foto-btn {
  position: absolute;    
  bottom: 0;             
  right: 0;              
  border-radius: 50%;    
}
