body{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

#cuerpo{
    background-color: #d8dbd9;
}

#olvidarContra:hover{
    color: rgb(0, 0, 255);
    text-decoration:underline ;
}


